<% if (['global', 'admin', 'cfi'].includes(user.privilege)) { %>
<a href="/dashboard" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i> Back to Dashboard</a>
<p></p>
<% } %>
<%- include('../_partials/dashboard/profileHeader') %>
<p>
  <div class="card shadow-sm h-100">
    <div class="card-body">
      <blockquote>&ldquo; <%= quote.q %> &rdquo;</blockquote>&mdash; <%= quote.a %>
    </div>
  </div>
</p>
  <% if (profile.syllabus) { %>
    <div class="card shadow-sm h-100">
      <div class="card-header bg-white d-flex align-items-center justify-content-between">
        <strong>
          <%= profile?.syllabus?.title %> - Version <%= profile.syllabus.version %>
        </strong>
        <div style="width: 180px">
          <div class="progress small">
            <div class="progress-bar bg-success" style="width:<%= progress %>%"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% lessons.forEach(lesson=> { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <a href="/student/<%= profile.id %>/lesson/<%= lesson.id %>" style="text-decoration: none; color: black;">
                <div class="fw-bold">
                  <%= lesson.title %>
                </div>
                <div class="text-secondary">
                  <%= lesson.objective %>
                </div>
                </a>
              </div>
              <% if (lesson.userLesson.status==='completed' ) {%>
                <span class="badge bg-success">Done</span>
                <% } else if (lesson.userLesson.status==='in-progress' ) { %>
                    <span class="badge bg-warning text-dark">In progress</span>
                    <% } else { %>
                      <span class="badge bg-secondary">Incomplete</span>
                      <% } %>
            </li>
            <% }) %>
        </ul>
      </div>
      <div class="card-footer bg-white small text-end">
        <a href="/report/progress/<%= profile.id %>" class="link-primary">Print Lessons</a>
      </div>
    </div>
    <% } %>
