<div class="card shadow-sm h-100">
  <div class="card-header bg-white d-flex justify-content-between align-items-center">
    <strong>CFIs</strong>
    <div class="d-flex gap-2">
      <form class="input-group input-group-sm" style="max-width:240px" method="GET"
        action="<%= path %>">
        <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
        <input class="form-control" name="cfi" placeholder="Search…" id="cfiSearch">
        <button class="btn btn-sm btn-outline-secondary text-nowrap" type="submit">
          Search
        </button>
      </form>
      <a class="btn btn-sm btn-outline-secondary text-nowrap"
        href="/user/create?type=cfi&entityId=<%= currentEntity.id %>">
        <i class="bi bi-person-plus me-2"></i>
        Add CFI
      </a>
    </div>
  </div>
  <div class="card-body">
    <table class="table align-middle">
      <thead class="small text-secondary">
        <tr>
          <th>Name</th>
          <th>Students</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cfis.forEach(cfi=> { %>
          <tr>
            <td>
              <%= cfi.firstName %>
                <%= cfi.lastName %>
                  <% if (cfi.inactiveDate) { %>
                    (inactive)
                    <% } %>
            </td>
            <td>
              <%= students.filter(s=> s.cfiId === cfi.id).length %>
            </td>
            <td class="text-end">
              <div class="btn-group btn-group-sm">
                <a href="/cfi/<%= cfi.id %> %>"
                  class="btn btn-outline-secondary">Manage</a>
              </div>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const urlParams = new URLSearchParams(window.location.search);
      const cfiSearch = urlParams.get('cfi');
      if (cfiSearch) {
        const cfiInput = document.getElementById('cfiSearch');
        cfiInput.value = cfiSearch;
      }
    });
  </script>
